doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    title= article.headline
    style
      include ./index.css
  body
    include ./header.pug
    if article.chartBeat
      div(class='article-trending')
        div(class='article-trending__rank') #{'#'}#{article.chartBeat.rank}
        div(class='article-trending__histogram')
          each histogramValue in article.normalizedHistogram
            div(
              style='display:inline-block;background:#777;margin-right:1px;width:5px;height:' + ( histogramValue + 1 )  + 'px;'
            )
        h1(class='article-trending__headline') #{'Most popular article on BostonGlobe.com'}
        if article.chartBeat.trend === 'up'
          div(class='article-trending__stats') 
            span(class='article-trending__up') #{'Article Trending Up'}
            if article.chartBeat.hotRef
              span(class='article-trending__popular-on') Popular on #{article.chartBeat.hotRef}
    if article.leadImage.type == 'image'  
      figure(class='lead-media')
        img(
          src= article.leadImage.href
          alt= article.leadImage.alt
          class='lead-media__media'
        )
        figcaption(class='lead-media__info')
          div(class='lead-media__caption') #{article.leadImage.caption}
          div(class='lead-media__credit') #{article.leadImage.credit}

    div(class='article-header')
      h1(class='article-header__headline') #{article.headline}
      div(class='article-header__byline') !{article.author}, #{article.authorType}
      

    div(class='article-content')
      each val, index in article.content
        if val.type == 'p'
          p !{val.content}
        else if val.type == 'image'
          figure(class='inline-media inline-media--wide inline-media--bleed')
            img(
              src=val.href
              class='inline-media__image'
            )
            figcaption(class='inline-media__info')
              div(class='inline-media__caption') #{val.caption}
              div(class='inline-media__credit') #{val.credit}
        else if val.type == 'subhead'
          h2(class='article-content__section-heading') #{val.content}
      div(class='article-tagline') !{article.tagline}


    div(class='article-recirc')
      div(class='article-recirc__header')
        h2(class='article-recirc__heading') #{'Continue Reading'}
      ul(class='article-recirc__list')
        each val, index in article.recirc
          if (index<3)
            li(class='article-recirc__item')
              a(href=val.href)
                img(src=val.leadImage.href)
                h3(class='article-recirc__headline') !{val.headline}

    include ./footer.pug


    script
      | let dataString = !{JSON.stringify(article)};
      | console.log('bg data:', dataString);
