doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    title= article.headline
    style
      include ./index.css
  body
    header(class='site-header')
      div #{'Boston Globe'}
    figure(class='lead-media')
      img(
        src= article.leadImage.href
        alt= article.leadImage.alt
        class='lead-media__media'
      )
      figcaption #{'Sample caption for the moment'}
    div(class='article-header')
      h1(class='article-header__headline') #{article.headline}
      div(class='article-header__byline') !{article.author}, #{article.authorType}
    div(class='article-content')
      each val, index in article.content
        if val.content
          p= val.content
    div !{article.tagline}
    script
      | let dataString = !{JSON.stringify(article)};
      | console.log(dataString);