doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    title='Globe Trending'
    style
      include ./index.css
  body
    h1 Globe Trending

    ul
      each article in data
        li 
          a( href= 'http://' + article.path )
            h2 #{article.title}
            img(
              src= article.image
              alt= article.title
            )

    script
      | let dataString = !{JSON.stringify(data)};
      | console.log(dataString);