doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    title='Globe Trending'
    link(
      rel='manifest',
      href='/manifest.json'
    )
    style
      include ./index.css
  body

    include ./header.pug

    main.trending
      div.featured
        article
          a( href= data[0].path )
            img(
              src= data[0].largeImage
              alt= data[0].title
            )
            div.featured__info
              div.featured__heading Most Popular
              h1 #{data[0].title}
              if data[0].hotRef
                span.popular Popular #{data[0].hotRef}
              if data[0].hotRef && data[0].comments
                span.spacer &nbsp; ● &nbsp;
              if data[0].comments
                span.comments #{data[0].comments} Comments

      h1.trending-list-header Other Trending Stories
      ul.trending-list
        - for ( var i = 1; i < data.length - 1; i++ ) {
          li.trending__list-item
            article
              a( href= data[i].path )
                img(
                  src= data[i].image
                  alt= data[i].title
                )
                div.info
                  h1 #{data[i].title}
                  if data[i].hotRef
                    span.popular Popular #{data[i].hotRef}
                  if data[i].hotRef && data[i].comments
                    span.spacer &nbsp; ● &nbsp;
                  if data[i].comments
                    span.comments #{data[i].comments} Comments

        - }

    include ./footer.pug

    script
      | let dataString = !{JSON.stringify(data)};
      | console.log('bg data:', dataString);
      