doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    title='Globe Trending'
    link(
      rel='manifest',
      href='/manifest.json'
    )
    style
      include ./index.css
  body

    include ./header.pug



    section(class='trending-section')
      h1(class='trending__heading') Trending on BostonGlobe.com
      p(class='trending__heading-description') Take a break and read the most popular stories right now.
      ul
        each article, index in data
          li(class='trending trending-' + (index + 1) + ' trending-' + article.trend)
            article
              figure
                a( href=article.path )
                  img(
                    src= article.image
                    alt= article.title
                    class= 'trending__image'
                  )
              h2(class= 'trending__title') #{article.title}
              if article.hotRef
                div(class='trending__popular-on') Popular #{article.hotRef}

    script
      | let dataString = !{JSON.stringify(data)};
      | console.log('bg data:', dataString);
      