doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    title='Globe Trending'
    style
      include ./index.css
  body

    include ./header.pug

    h1 Globe Trending

    ul
      each article in data
        li(class='trending-' + article.trend)
          a( href=article.path )
            img(
              src= article.image
              alt= article.title
            )
            h2 #{article.title}

    script
      | let dataString = !{JSON.stringify(data)};
      | console.log('bg data:', dataString);
      